h1 {
	font-family: Verdana;
	font-size: 22px;
	padding-left: 30%;
}

h2 {
	font-style: underline;	
}

h3 {
	font-size: 14px;
}

h4 {
	padding-left: 5%;
	font-size: 12px;
}

h5 {
	padding-left: 8%;
	font-size: 10px;	
}